APP_URL=http://localhost:8000
APP_PORT=8000
APP_ENV=production
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=my-idlers
DB_USERNAME=my-idlers
DB_PASSWORD=my-idlers
MYSQL_ROOT_PASSWORD=my-idlers-root
